In [2]:
import pandas as pd

In [27]:
# Run the code below to load a real dataset from the web. Then complete the prompts using Pandas indexing tools.
import pandas as pd

# Load Titanic dataset directly from GitHub
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url)

# Preview the data
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [ ]:

# --- EXERCISE BEGINS BELOW HERE ---- #
# Answer the following using .loc[] and .iloc[] Put your answers inside the print statements!

# 1. Use .loc to get the name and age of the passenger with index 12
print(df.loc[12,['Name', 'Age']])

# 2. Use .iloc to get the first 5 rows and first 3 columns
print(df.iloc[0:5, 0:3])

# 3. Use .loc to get all passengers in 1st class who are female
print(df.loc[(df['Pclass'] == 1) & (df['Sex'] == 'female')])


# 4. Use .iloc to get the age of the 10th passenger (by position)
print(df.iloc[9, 5])

# 5. Use .loc to get the 'Fare' and 'Survived' values for passengers with index 100 to 105
print(df.loc[100:105, ['Fare', 'Survived']])

In [ ]:
# --- EXERCISE STARTS HERE --#
# answer the following using .describe(), .value_counts(), and column-level summary functions. 
# Put your code INSIDE the print statements!

# 1. Summarize the numeric columns
print(df.describe())

In [28]:
# 2. Use .value_counts() to see counts for embarkation ports
print(df.Embarked.value_counts())

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [29]:
# 3. Use .value_counts() to count passenger classes
print(df.Pclass.value_counts())

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [30]:
# 4. Show the average (mean) age of passengers
print(df['Age'].mean())

29.69911764705882

In [31]:
# 5. Show the maximum fare paid
print(df['Fare'].max())

512.3292

In [32]:
# 6. Show how many unique names are in the dataset
print(df['Name'].nunique())

891

In [33]:
# 7. Show counts for values in the 'Sex' column
print(df['Sex'].value_counts())

Sex
male      577
female    314
Name: count, dtype: int64

In [34]:
# 8. Show how many unique values are in each column
print(df.nunique)

<bound method DataFrame.nunique of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>